auto-save-list/
custom.el
*~
eln-cache/
elpa/
org-roam.db
recentf
bookmarks
places
tramp
url/
transient/
projects
projectile-bookmarks.eld
tree-sitter/
eshell/
tabsession.el
.emacs-tabspaces-session.el